<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.unam.hack.unamirada" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".controladores.UNAMirada"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controladores.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controladores.InicioSesionActivity"
            android:label="@string/title_activity_inicio_sesion" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".controladores.FormularioActivity"
            android:label="@string/title_activity_formulario" >
        </activity>
        <activity
            android:name=".controladores.ActivityEventos"
            android:label="@string/title_activity_activity_eventos" >
        </activity>
    </application>

</manifest>
